<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <p><img class="symbol" src="{% static 'images/flag_of_kanagawa.png' %}"> | <a href="{% url 'home' %}">KANAGAWA</a></p>
        <form action="{% url 'search_results' %}" method="get">
            <input name="q" type="text" placeholder="Search" aria-label="Search">
        </form>
    </head>
    <body>
        <h1>{% block title %}{% endblock title %}</h1>
        <div>
            {% if user.is_authenticated %}
                <div>
                    <p><a href="{% url 'account_logout' %}">Logout</a></p>
                </div>
            {% else %}
                <div>
                    <p><a href="{% url 'account_login' %}">Login</a> | <a href="{% url 'account_signup' %}">Signup</a></p>
                </div>
            {% endif %}

            {% block content %} {% endblock content %}

        </div>
    </body>
</html>


