<!DOCTYPE html>
{% load static %}
<html>
<div class="all-containers">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header class="header">
    <div class="header__titles">
        <a href="{% url 'home' %}"><img class="symbol" src="{% static 'images/title.png' %}"></a>
        <a class="header__about" href="#"><h2>About</h2></a>
        <a class="header__about" href="{% url 'book_list' %}"><h2>Books</h2></a>
        <a class="header__about" href="#"><h2>Movies</h2></a>
        <a class="header__about" href="#"><h2>Instruments</h2></a>
    </div>
    <div class="header__items">
        <form class="" action="{% url 'search_results' %}" method="get">
            <input name="q" type="text" placeholder="Search" aria-label="Search">
            <button type="submit" class="button1">Search</button>
        </form>
        {% if user.is_authenticated %}
        <div class="header__items__logout">
            <a href="#">
                <img class="profile" src="{% static 'images/profile.jpg' %}">
            </a>
            |
            <a class="text-red" href="{% url 'account_logout' %}"><h2>Logout</h2></a></div>
        {% else %}
        <a class="text-red" href="{% url 'account_login' %}"><h2>Login</h2></a> | <a class="text-red" href="{% url 'account_signup' %}"><h2>SignUp</h2></a>
        {% endif %}
    </div>

</header>
<div class="content">
    {% block content %}
    {% endblock content %}
</div>
</body>

<footer class="footer5">&copy 2022 Kerem Aydın</footer>
</div>
</html>


