{% extends '_base.html' %}
{% load static %}

{% block title %}HomePage{% endblock title %}

{% block content %}
    <div class="home__container">
        <div class="home__items">
            <a href="#"><img class="home__item thick-red-border " src="{% static 'images/instrument.png' %}"></a>
        </div>
        <div class="home__items">
            <a href="{% url 'book_list' %}"><img class="home__item thick-red-border" src="{% static 'images/books.png' %}"></a>
        </div>
        <div class="home__items">
            <a href="#"><img class="home__item thick-red-border" src="{% static 'images/movies.jpg' %}"></a>
        </div>
    </div>
{% endblock content %}